/node_modules
/bootstrap/cache/config.php
/bootstrap/cache/services.php
/public/storage
/public/hot
/public/css/build
/public/js/build
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/storage/*
/storage/*.key
/storage/*.index
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
/vendor
/.idea
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
*.sql
*.tar.xz
csg_new\.sql

supervisord\.log

worker\.log

\.ps\.swp

\.env\.swp

sql_commands

Meeting Room Migration\.readme
public/mix-manifest.json
Migration \(v1\.1\)
public/css/vendors.css
public/adminlte/dist/js/app.min.js