.sidebar-menu li>a>.pull-right-container {
  top: 45%;
}

.hidden {
  visibility: hidden;
}

/* ========================

@Swatch Colors
-------------

Blue = #0173a7


======================== */

/*
|-----------------------------------------------
| @HTML/Body
|-----------------------------------------------
*/

body {}


/*
|-----------------------------------------------
| @Main
|-----------------------------------------------
*/
#main {}

#scrollspy {
  overflow: auto !important;
}


/*
|-----------------------------------------------
| @Footer
|-----------------------------------------------
*/
#version {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none;
   user-select: none;
}


/*
|-----------------------------------------------
| @AdminLTE (Black light)
|-----------------------------------------------
*/
.skin-black-light .main-header .navbar>.sidebar-toggle,
.skin-black-light .main-header .navbar .nav>li>a,
.skin-black-light .sidebar a {
	color: #3c8dbc;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;	
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: rgba(255,255,255,0.7);
}


/*
|-----------------------------------------------
| @AdminLTE: Header
|-----------------------------------------------
*/
.skin-black-light .main-header {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    		box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.skin-black-light .main-header>.logo,
.skin-black-light .main-header .navbar,
.skin-black-light .main-header .navbar>.sidebar-toggle,
.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav>li>a {
	border-color: #016998;	
	background: #0173a7;
	color: #fff;
}

.skin-black-light .main-header>.logo:hover,
.skin-black-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #016998;
    color: #fff;
}


/*
|-----------------------------------------------
| @AdminLTE: Sidebar
|-----------------------------------------------
*/
.sidebar-menu>li>a {
    padding: 12px 5px 12px 10px;	
}

.sidebar-menu .treeview-menu>li>a {
    white-space: normal;	
}

.skin-black-light .sidebar a {
	color: #5a5a5a;
}

.skin-black-light .sidebar a:hover,
.skin-black-light .sidebar-menu>li:hover>a,
.skin-black-light .sidebar-menu>li.active>a {
	color: #0173a7;
}


/*
|-----------------------------------------------
| @AdminLTE: Nav Tabs
|-----------------------------------------------
*/
.nav-tabs-custom>.nav-tabs>li>a>.notif {
    position: absolute;
    top: -7px;
    right: -5px;

    float: none;
}


/*
|-----------------------------------------------
| @AdminLTE: Timeline
|-----------------------------------------------
*/
.timeline>li>.timeline-item>.time {
    padding: 8px;	
}

.timeline>li>.timeline-item>.time .label {
	position: absolute;
	top: -7px;
	left: 5px;
}


/*
|-----------------------------------------------
| @AdminLTE: Invoice
|-----------------------------------------------
*/
.invoice {
    margin: auto;
    border: none;
    padding-top: 5px;
}


/*
|-----------------------------------------------
| @AdminLTE: Table
|-----------------------------------------------
*/
.table.vertical-middle>thead>tr>th, 
.table.vertical-middle>tbody>tr>th, 
.table.vertical-middle>tfoot>tr>th, 
.table.vertical-middle>thead>tr>td, 
.table.vertical-middle>tbody>tr>td, 
.table.vertical-middle>tfoot>tr>td {
	vertical-align: middle;
}


/*
|-----------------------------------------------
| @AdminLTE: Inputs
|-----------------------------------------------
*/
input.form-control:disabled,
textarea.form-control:disabled,
select.form-control:disabled {
	background: #fff;
}

textarea.form-control {
	min-height: 125px;
	
	resize: none;
}


/*
|-----------------------------------------------
| @AdminLTE: Pagination
|-----------------------------------------------
*/
.paginate_button {
	cursor: pointer;
}


/*
|-----------------------------------------------
| @AdminLTE: Alert
|-----------------------------------------------
*/
.alert .alert-title {
	margin-bottom: 20px;
}


/*
|-----------------------------------------------
| @AdminLTE: Spinner
|-----------------------------------------------
*/
.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
	z-index: 9999;
}


/*
|-----------------------------------------------
| @FullCalendar
|-----------------------------------------------
*/
.fc-ltr .fc-basic-view .fc-day-number {
	font-size: 18px;
    padding-right: 5px;	
}

/*
|-----------------------------------------------
| @Trumbowyg
|-----------------------------------------------
*/
.trumbowyg-box, .trumbowyg-editor {
    margin-top: 0;
}